*{
    padding: 0;
    margin: 0;
}
.main-header{
    display: flex;
    justify-content: space-between;
    z-index: 32;
    font-size: 14px;
    line-height: 1.5;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
    height: 52.67px;
}
.main-header ul,.main-header li{ 
     display: flex;
    justify-content: space-between;
align-items: center;
padding: 1rem;
}
.main-header img{
    height: 31.27px;
    width: 32px;
}
.main-header a{
    padding: 1rem;
    color: hsla(0,0%,100%,.7);
    text-decoration: none;
}
.SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .SearchBar-submits {
      position: relative;
    text-align: center;
    left: 700px;

  }
  .SearchBar-submits a {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
  }
  
  .SearchBar-submits a:hover {
    cursor: pointer;
    background-color: #a7874b;
  }
